<div class="col mt-4">
  <div class="timeline-body" >
    {% for item in site.data.service %}
      <div class="timeline-item" >
        <div class="content" >
          <!-- <a href="{{ item.link }}" target="_blank"> -->
            <h5>{{ item.title }}</h5>
          <!-- <h5> <img src="{{ item.image }}" style="height: 36px; margin: auto;display: inline;" > {{ item.title }} </h5> -->
          <!-- <h6 class="date">{{ item.from }}</h6> -->
          {%- assign revenues-list = item.description -%}
          {%- assign revenues = revenues-list | split: ',' -%}
          {%- for word in revenues -%}
            {% assign split_data = word | split: ';' %}
            <a href="{{ split_data[1] }}" target="_blank">
            <h6> {{ split_data[0] }} </h6>
            <!-- <p>{{ item.description }}</p> -->
            </a> <br>
          {% endfor %}
          <!-- </a> -->
        </div>
      </div>
    {% endfor %}
  </div>
</div>